.Navbar-Toolbar {
    flex-grow: 1;
    justify-content: space-evenly;
}

.Navbar-Toolbar .Navbar-Button {
    align-self: flex-end;
    color: white;
    flex-grow: 1;
}

.Navbar-Toolbar .NavBar-Title {
    position: absolute
}

.About-Container {
    padding: 1rem;
    box-shadow: inset;
    border: 2px solid white;
    border-radius: 10px;
    background: #3e4f6b;
    color: inherit;
}

.About-Container a {
    text-decoration: none;
}

.post {
    margin: 1rem auto;
    width: 70%;
    background-color: #3e4f6b;
    border: 2px solid white;
    border-radius: 10px;
}