.Navbar-Toolbar {
    flex-grow: 1;
    justify-content: space-evenly;
}

.Navbar-Toolbar .Navbar-Button {
    align-self: flex-end;
    color: white;
    flex-grow: 1;
}

.Navbar-Toolbar .NavBar-Title {
    position: absolute
}

.About-Container {
    width: 100%;
    padding-right: 17px;
    height: calc(100vh - 128px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.About {
    padding: 1rem;
    box-shadow: inset;
    border: 0px solid white;
    border-radius: 10px;
    background: var(--background-dark);
    color: inherit;
}

.About-Container a {
    text-decoration: none;
}

.Post {
    margin: 1rem auto;
    text-align: left;
    padding: 0 1rem 1rem 1rem;
    width: 65%;
    background-color: var(--background-dark);
    border-radius: 4px;
}

.Form {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.Form-Text-Input {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.Form-Button {
    margin: auto;
    width: 20%;
    height: 2rem;
}

.Form-TextArea {
    outline: none;
    resize: none;
}

.Footer-Toolbar {
    background: var(--footer-background);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Footer-Toolbar .Footer-Link {
    color: white;
}