body {
    --background-primary: #393e46;
    --background-dark: #222831;
    --background-post-primary: #909497;
    --background-light: #f8fdff;
    --footer-background: #282c34;
    --nav-font-color: #ffd369;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html,
body,
#root {
    height: 100vh;
    overflow-x: hidden;
}